.timeline {
  &__card {
    position: relative;
    background-color: #173f4b;
    padding: 8px;
    border-radius: 5px;
    width: 130px;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }

    &--arrow-center::after {
      left: 50%;
      transform: translateX(-50%);
    }

    &--arrow-left::after {
      left: 16px;
      transform: translateX(0);
    }

    &--arrow-right::after {
      right: 16px;
      left: auto;
      transform: translateX(0);
    }
  }

  &__image {
    width: 100%;
    height: 76px;
    background-color: #ffffff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 64px;
      height: 55px;
      object-fit: contain;
    }
  }

  &__milestone--up &__card::after {
    bottom: -8px;
    border-top: 8px solid #173f4b;
  }

  &__milestone--down &__card::after {
    top: -8px;
    border-bottom: 8px solid #173f4b;
  }
  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    margin-top: 16px;
  }
}
